<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ambient.control"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.16.0-SNAPSHOT" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.NFC" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_power_active"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ambient.control.home.HomeActivity"
            android:label="@string/title_activity_main"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/org.ambient.beam" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ambient.control.home.EditRenderingConfigActivity"
            android:label="@string/title_activity_edit_rendering_config"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="org.ambient.control.processes.ProcessCardActivity"
            android:label="@string/title_activity_process_card_activity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="org.ambient.control.nfc.NFCSwitchHandlerActivity"
            android:label="@string/title_activity_nfcswitch_handler"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/org.ambientcontrol" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ambient.control.config.EditConfigActivity"
            android:label="@string/title_activity_edit_config_activity" >
        </activity>

        <receiver
            android:name="org.ambient.widgets.RoomSwitchesWidgetProvider"
            android:icon="@drawable/widget_room_switches"
            android:label="Raumschalter" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetprovider" />
        </receiver>

        <service android:name="org.ambient.widgets.UpdateWidgetService" >
        </service>
        <service android:name="org.ambient.roomservice.RoomConfigService" >
        </service>

        <receiver
            android:name="org.ambient.roomservice.boot.StartRoomConfigServiceReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>